#network {
    margin-top: 20px;
    width: 800px;
    height: 600px;
    border: 1px solid lightgray;
}

#inputform {
    margin-top: 100px;
}

#inputform input{
    width: 50px;
}

#inputform .node {
    display: inline-block;
    margin-bottom: 10px;
}
