.header {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    border-radius: 30px;
    font-family: monospace;
}

.logo img {
    max-height: 80px; 
    width: auto;      
    height: auto;     
    display: inline-block;
}

h2 {
    display: inline-block;
    padding-left: 25px;
    font-size: 28px;
}

.switch {
    font-size: 12px;
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ced4da;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
    transition: 0.4s;
    border-radius: 5px;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 0.1em;
    border-radius: 0px;
    left: 0.3em;
    bottom: 0.3em;
    background-color: white;
    transition: 0.4s;
}
  
input:checked + .slider {
    background-color: #495057;
    box-shadow: inset 2px 5px 10px rgb(0, 0, 0, 0.3);
}
  
input:checked + .slider:before {
    transform: translateX(2.8em) rotate(360deg);
}
  

body {
    background-color: #212529;
}

.container {
    display: flex;
}

.container > div {
    background-color: #343a40;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

#network-container {
    border-radius: 30px;
    background: #6c757d;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset,
                rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
}

#network {
    width: 850px;
    height: 600px;
    border: 1px solid none;
}

.input-container {
    border-radius: 50px;
    background-color: #343a40;
    box-shadow: 20px 20px 60px #343a40,
                -20px -20px 60px #495057;
}

#inputform {
    padding-top: 24px;
    width: 300px;
    background-color: #343a40;
}

.edge , .edge-title{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    padding: 5px;
}

.edge > input {
    width: 70%;
    text-align: center;
}

.add-edge-btn {
    font-size: 14px;
    width: 100%;
    height: 35px;

}

.update-btn {
    margin-top: 10px;
    text-align: right;
}

.update-btn > button {
    font-size: 16;
}

#h-list {
    width: 180px;
}

#h-list .title {
    width: 100%;
    margin-bottom: 10px;
}

.h {
    display: grid;
    grid-template-columns: auto auto;
    padding: 5px;
    font-size: 24px;
    margin-bottom: 5px;
}

.h input {
    height: 10px;
    width: 70px;
}

.h p {
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
}

.input {
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    background-color: #adb5bd;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
    transition: 300ms ease-in-out;
}

.input:focus {
    background-color: #ced4da;
    transform: scale(1.05);
    box-shadow: 13px 13px 100px #343a40,
                -13px -13px 100px #495057;
}

button {
    color: #090909;
    padding: 0.7em 1.7em;
    border-radius: 0.5em;
    background: #adb5bd;
    cursor: pointer;
    border: 1px solid #adb5bd;
    transition: all 0.3s;
    box-shadow: 6px 6px 12px #343a40, -6px -6px 12px #495057;
    font-family: monospace;
}
  
button:hover {
    border: 1px solid #ced4da;
}

button:active {
    box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
}

.radio-input {
    display: flex;
    height: 80px;
    align-items: center;
}
  
.glass {
    z-index: 2;
    height: 110%;
    width: 25px;
    margin-right: 10px;
    padding: 4px;
    background-color: rgba(190, 189, 189, 0.5);
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.2) 0px 25px 50px -10px,
        rgba(0, 0, 0, 0.25) 0px 10px 30px -15px,
        rgba(10, 37, 64, 0.26) 0px -2px 6px 0px inset;
    backdrop-filter: blur(2px);
}
  
.selector {
    display: flex;
    flex-direction: column;
}
  
.choice {
    margin: 4px 0 4px 0;
    display: flex;
    align-items: center;
}

.choice > div {
    position: relative;
    width: 15px;
    height: 15px;
    margin-right: 15px;
    z-index: 0
}
  
.choice-circle {
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
    appearance: none;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    border-width: 4px;
    border-style: solid;
    border-color: rgba(245, 245, 245, 0.45);
    cursor: pointer;
    box-shadow: 0px 0px 20px -13px gray, 0px 0px 20px -14px gray inset;
}
  
.ball {
    z-index: 1;
    position: absolute;
    inset: 0px;
    transform: translateX(-35px);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -10px 10px 0px inset,
        rgba(0, 0, 0, 0.15) 0px -15px 15px 0px inset,
        rgba(0, 0, 0, 0.1) 0px -40px 20px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
        rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
        rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px,
        0px -1px 15px -8px rgba(0, 0, 0, 0.09);
    border-radius: 100%;
    transition: transform 800ms cubic-bezier(1, -0.4, 0, 1.4);
    background-color: rgb(232, 232, 232, 1);
}
  
.choice-circle:checked + .ball {
    transform: translateX(0px);
}
  
.choice-name {
    color: rgb(177, 176, 176);
    font-size: 18px;
    font-weight: 900;
    font-family: monospace;
    cursor: pointer;
}

.custom-select {
    color: #090909;
    padding: 0.7em 1.7em;
    border-radius: 0.5em;
    background: #adb5bd;
    cursor: pointer;
    border: 1px solid #adb5bd;
    transition: all 0.3s;
    box-shadow: 6px 6px 12px #343a40, -6px -6px 12px #495057;
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    font-size: 14px;
    font-family: monospace;
}

.custom-select::after {
    content: '▼'; 
    font-size: 10px;
    position: absolute;
    right: 1em;
    color: #090909;
    pointer-events: none;
}

.custom-select:hover {
    border: 1px solid white;
}

.custom-select:active {
    box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
}

.runContainer {
    text-align: center;
    margin-top: 30px;
}

.title {
    width: 84px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: rgb(177, 176, 176); 
    background-color: #343a40;
    border-radius: 12px; 
    font-family: monospace;
}
